.nav {
  display: none;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  top: 80px;
  right: 40%;
  z-index: 5;
  text-align: center;
}

.active {
  display: flex;
}

@media (min-width: 769px) {
  .nav {
    display: none;
  }
}
